<h1>
    Shope By Brand
</h1>
<ul>
    <li>
        <a asp-controller="Brand1" asp-action="ShopByBrand">Brand1</a>
    </li>
    <li>
                <a asp-controller="Brand1" asp-action="ShopByBrand">Brand2</a>

    </li>
    <li>
                <a asp-controller="Brand1" asp-action="ShopByBrand">Brand3</a>

    </li>
</ul>